# pylib
compconf==0.5.0
dendropy
downstream==1.21.1
hstrat @ https://github.com/mmore500/hstrat/archive/refs/tags/v1.23.4.tar.gz
opytional
pandas
fastparquet==2023.10.1
polars==1.37.1
pyarrow
scipy
tqdm

# phylo postprocessing
phyloframe==0.1.0

# qa
black==22.10.0
pytest
ruff
joinem
